<html>
    <body>
        
        <img src="/images/cuddles.jpg"/>
        <img src="/images/kitten.jpeg"/>
        <img src="/images/yarn.jpg"/>
        <img src="/images/ocelot.jpg"/>
    </body>
</html>