<html>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <body>
        <img src="images/pink.jpg"/>
        <img src="images/sunflower.jpg"/>
        <img src="images/dahlia.jpg"/>
    </body>
</html>