<html>
    <body>
        <h1>hey</h1>
        <form action="#" method="post">
            <label for="flower">Enter name: </label>
            <input id="flower" type="text" name="name" placeholder="Name your flower!">
            <input type="submit" value="OK">
        </form>
    </body>
</html>